<!-- GIFT SECTION-->
<section class="gifts-section">
	<div class="holder">
		<h3 class="title">{{ page.block3.mainTitle|safe }}</h3>
		<div class="sub-title">{{ page.block3.description|safe }}</div>
		<div class="row">
			{# icon-1 #}
			<a href="/products/1" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon">
								<img src="/images/online-white.svg" type="image/svg+xml" width="78" height="59">
							</div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[1]|safe }}</div>
					</div>
				</div></a>
			{# ./  icon-1#}
			{# icon-2 #}
			<a href="/products/2" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon">
								<img src="/images/online-white.svg" type="image/svg+xml" width="78" height="59">
							</div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[2]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-2 #}
			{# icon-3 #}
			<a href="/products/3" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon">
								<img src="/images/books-white.svg" type="image/svg+xml" width="68" height="59">
							</div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[3]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-3 #}
			{# icon-4 #}
			<a href="/products/4" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon"><img src="/images/timer-white.svg" type="image/svg+xml" width="78" height="59"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[4]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-4 #}
			{# icon-5 #}
			<a href="/products/5" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon"><img src="/images/self-study-white.svg" type="image/svg+xml" width="59" height="63"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[5]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-5 #}
			{# icon-6 #}
			<a href="/products/6" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon"><img src="/images/stoper-white.svg" type="image/svg+xml" width="63" height="73"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[6]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-6 #}
			{# icon-7 #}
			<a href="/products/7" class="wrapper-link-white"><div class="col-md-3 col-sm-6 col-xs-6">
					<div class="gift-box">
						<div class="image-box">
							<div class="icon"><img src="/images/test-prints-white.svg" type="image/svg+xml" width="62" height="62"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[7]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-7 #}
			{# icon-8 #}
			<a href="/products/8"></a>
			<div class="col-md-3 col-sm-6 col-xs-6">
				<div class="gift-box">
					<div class="image-box">
						<div class="icon"><img src="/images/assays-white.svg" type="image/svg+xml" width="60" height="67"></div>
					</div>
					<div class="text-box">{{ page.block3.iconTitle[8]|safe }}</div>
				</div>
			</div>
			{# ./ icon-8 #}
			{# icon-9 #}
			<a href="/products/9" class="wrapper-link-white"><div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon"><img src="/images/homework-checking-white.svg" type="image/svg+xml" width="35" height="45"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[9]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-9 #}
			{# icon-10 #}
			<a href="/products/10" class="wrapper-link-white"><div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon"><img src="/images/psycho-words.svg" type="image/svg+xml" width="32" height="40"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[10]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-10 #}
			{# icon-11 #}
			<a href="/products/11" class="wrapper-link-white"><div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon"><img src="/images/info-white.svg" type="image/svg+xml" width="40" height="40"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[11]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-11 #}
			{# icon-12 #}
			<a href="/products/12" class="wrapper-link-white"><div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon"><img src="/images/test-anwers-white.svg" type="image/svg+xml" width="33" height="45"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[12]|safe }}</div>
					</div>
				</div></a>
			{# ./ icon-12 #}
			{# icon-13 #}
			<a href="/products/13" class="wrapper-link-white">
				<div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon"><img src="/images/calculator-white.svg" type="image/svg+xml" width="40" height="40"></div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[13]|safe }}</div>
					</div>
				</div>
			</a>
			{# ./ icon-13 #}
			{# icon-14 #}
			<a href="/products/14" class="wrapper-link-white">
				<div class="col-md-2 col-sm-4 col-xs-4">
					<div class="gift-box gift-box-small">
						<div class="image-box">
							<div class="icon">
								<img src="/images/tests-download-white.svg" type="image/svg+xml" width="33" height="44">
							</div>
						</div>
						<div class="text-box">{{ page.block3.iconTitle[14]|safe }}</div>
					</div>
				</div>
			</a>
			{# ./ icon-14 #}
		</div>
	</div>
</section>
