$breakpoints: (
  'xs-phone': 320px,
  'phone': 540px,
  'tablet': 768px,
  'tablet-x': 992px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';

@import "bootstrap-custom";
@import "vendors/bootstrap/variables";
@import "vendors/bootstrap/mixins";

@import 'base/mixins';
@import 'base/helpers';


// FONTS
@font-face {
    font-family: 'open_sans_hebrewbold';
    src: url('../fonts/opensanshebrew-bold.eot');
    src: url('../fonts/opensanshebrew-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bold.woff2') format('woff2'),
         url('../fonts/opensanshebrew-bold.woff') format('woff'),
         url('../fonts/opensanshebrew-bold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bold.svg#open_sans_hebrewbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewbold_italic';
    src: url('../fonts/opensanshebrew-bolditalic.eot');
    src: url('../fonts/opensanshebrew-bolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-bolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-bolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-bolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-bolditalic.svg#open_sans_hebrewbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewextra_bold';
    src: url('../fonts/opensanshebrew-extrabold.eot');
    src: url('../fonts/opensanshebrew-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabold.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabold.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabold.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabold.svg#open_sans_hebrewextra_bold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewXBdIt';
    src: url('../fonts/opensanshebrew-extrabolditalic.eot');
    src: url('../fonts/opensanshebrew-extrabolditalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-extrabolditalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-extrabolditalic.woff') format('woff'),
         url('../fonts/opensanshebrew-extrabolditalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-extrabolditalic.svg#open_sans_hebrewXBdIt') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewitalic';
    src: url('../fonts/opensanshebrew-italic.eot');
    src: url('../fonts/opensanshebrew-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-italic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-italic.woff') format('woff'),
         url('../fonts/opensanshebrew-italic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-italic.svg#open_sans_hebrewitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewlight';
    src: url('../fonts/opensanshebrew-light.eot');
    src: url('../fonts/opensanshebrew-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-light.woff2') format('woff2'),
         url('../fonts/opensanshebrew-light.woff') format('woff'),
         url('../fonts/opensanshebrew-light.ttf') format('truetype'),
         url('../fonts/opensanshebrew-light.svg#open_sans_hebrewlight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewlight_italic';
    src: url('../fonts/opensanshebrew-lightitalic.eot');
    src: url('../fonts/opensanshebrew-lightitalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-lightitalic.woff2') format('woff2'),
         url('../fonts/opensanshebrew-lightitalic.woff') format('woff'),
         url('../fonts/opensanshebrew-lightitalic.ttf') format('truetype'),
         url('../fonts/opensanshebrew-lightitalic.svg#open_sans_hebrewlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sans_hebrewregular';
    src: url('../fonts/opensanshebrew-regular.eot');
    src: url('../fonts/opensanshebrew-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensanshebrew-regular.woff2') format('woff2'),
         url('../fonts/opensanshebrew-regular.woff') format('woff'),
         url('../fonts/opensanshebrew-regular.ttf') format('truetype'),
         url('../fonts/opensanshebrew-regular.svg#open_sans_hebrewregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

// CUSTOM FORMS
.jcf-checkbox {
  vertical-align: middle;
  display: inline-block;
  position: relative;
  overflow: hidden;
  cursor: default;
  background: #093446;
  border: 2px solid #fff;
  border-radius: 100%;
  margin: 0 3px 0 0;
  height: 34px;
  width: 34px;
}

.jcf-checkbox span{
  position:absolute;
  display:none;
  height:20px;
  width:20px;
  margin:-7px 0 0 -6px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  top:9px;
  left:5px;
  right:5px;
  bottom:5px;
  background:#f05a28;
  border-radius:100%;
}

:root .jcf-checkbox span {margin:-4px 0 0 -5px;}
.jcf-checkbox input[type="checkbox"] {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 0;
  margin: 0;
  left: 0;
  top: 0;
}

.jcf-checkbox.jcf-checked span{display:block;}

.jcf-disabled {background: #ddd !important;}
// ENS CUSTOM FORMS

// OWL CAROUSEL
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/*
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/*
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/*
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
// END OWL CAROUSEL


// STYLES //

html{height:100%;}

body {
  direction: rtl;
  background: $white;
  font-size: 20px;
  color: $tarawera;
  font-family: 'open_sans_hebrewregular';
  min-width: 320px;
  margin:0;
  height:100%;

  @include media("<tablet"){
    font-size: 16px;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

/* custom css */
a:focus{
  text-decoration: none;
}
.st_sharethis_large{
  span{
	display: none !important;
  }
}

.table-homepage{
  display: none; margin-top: 20px; color: #093446
}

.read-more-ellipsis{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.read-more-description-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  height: 38px;
}

.cart-count{
  position: absolute;
  font-size: 15px;
  top: -15px;
}

/* ./ custom css*/
.wrapper{
    width:100%;
    height:100%;
    display:table;
    margin:0 auto;
    table-layout: fixed;
}

// HEADER //
.header {
  background: $scooter;
  padding: 21px 0 17px;
  color: $white;

  .holder {
    @extend %clearfix;
  }

  .contacts-info {
    float: left;
    padding: 12px 0 0;

    @include media("<phone"){
      float: none;
      padding: 0;
      text-align: center;
    }
  }

  .contacts-list {
    @extend %listreset;
    font-size: 25px;
    font-family: 'open_sans_hebrewextra_bold';

    a {
      color: $white;
      display: inline-block;
      margin: 0 20px;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      display: inline-block;
      margin: 0 0 0 -4px;
      padding: 0 20px;
      min-height: 43px;
      position: relative;
      vertical-align: middle;

      @include media("<tablet"){
        padding: 0 10px;
      }

      .icon-share {
        margin: 0 0 0 15px;

        @include media("<tablet"){
          margin: 0 0 0 5px;
        }
      }

      b {
        margin: 4px 0 0;
        display: block;
      }

      &:after {
        content: '';
        background: $white;
        width: 2px;
        position: absolute;
        top: 7px;
        bottom: 7px;
        right: -1px;

        @include media("<phone"){
          display: none;
        }
      }
    }
  }

  .logotype {
    float: right;

    @include media("<phone"){
      display: none;
    }

    .logo {
      margin: 0 0 0 20px;
    }

    a {
      display: block;
      color: $white;
    }
  }
}

.holder {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

.logotype-mobile {
  display: none;
  float: left;
  padding: 7px 0 0;

  a {
    display: block;
  }

  @include media("<phone"){
    display: block;
  }
}


// NAVIGATION //
.navigation {
  background: $scooter-1;

}

.navbar-default .navbar-collapse {
  border-color: transparent;
}
.navbar-collapse {
  padding: 0 !important;
  margin: 0 -15px;
}

.navig {
  @extend %listreset;
  text-align: center;
  font-size: 20px;
  font-family: 'open_sans_hebrewbold';

  @include media("<tablet-x"){
     font-size: 18px;
  }

  li {
    display: inline-block;
    margin: 0 0 0 -4px;
    position: relative;
    padding: 8px 34px;

    &.active {
      a {
        &:before {
          content: '';
          position: absolute;
          left: 34px;
          right: 34px;
          bottom: 0;
          background: #55484c;
          height: 3px;
        }
      }
    }

    &:first-child {
      padding: 8px 0 8px 34px;

      a {
        &:hover {
          &:before {
            left: 34px;
            right: 0;

            @include media("<widescreen"){
              left: 20px;
            }

            @include media("<tablet-x"){
              left: 9px;
            }
          }
        }
      }

      &.active {
        a {
          &:before {
            left: 34px;
            right: 0;
          }
        }
      }

      @include media("<widescreen"){
        padding: 20px 0 20px 20px;

        &.active {
          a {
            &:before {
              left: 20px;
            }
          }
        }
      }

      @include media("<tablet-x"){
         padding: 20px 0 20px 9px;

         &.active {
          a {
            &:before {
              left: 9px;
            }
          }
        }
      }

      @include media("<tablet"){
         padding: 0;

        a {
          padding: 10px;
        }
      }
    }

    &:last-child {
      padding: 8px 34px 8px 0;

      a {
        &:hover {
          &:before {
            right: 34px;
            left: 0;

            @include media("<widescreen"){
              right: 20px;
            }

            @include media("<tablet-x"){
              right: 9px;
            }
          }
        }
      }

      &.active {
        a {
          &:before {
            right: 34px;
            left: 0;
          }
        }
      }

      @include media("<widescreen"){
        padding: 8px 20px 8px 0;

        &.active {
          a {
            &:before {
              right: 20px;
            }
          }
        }
      }

      @include media("<tablet-x"){
         padding: 20px 9px 20px 0;

        &.active {
          a {
            &:before {
              right: 9px;
            }
          }
        }
      }

      @include media("<tablet"){
         padding: 0;

        a {
          padding: 10px;
        }
      }
    }

    @include media("<widescreen"){
      padding: 20px 20px;

      &.active {
        a {
          &:before {
            right: 20px;
            left: 20px;
          }
        }
      }
    }

    @include media("<tablet"){
      padding: 20px 15px;

      &.active {
        a {
          &:before {
            right: 15px;
            left: 15px;
          }
        }
      }
    }

    @include media("<tablet-x"){
      padding: 20px 9px;

      &.active {
        a {
          &:before {
            right: 9px;
            left: 9px;
          }
        }
      }
    }

    a {
      color: $blue-dianne;
      display: inline-block;
      background: none !important;
      padding: 0;

      &:focus {
        text-decoration: none;
        outline: none;
      }

      &:hover {
        text-decoration: none;

        &:before {
          content: '';
          position: absolute;
          left: 34px;
          right: 34px;
          bottom: 0;
          background: #55484c;
          height: 3px;


          @include media("<widescreen"){
            left: 20px;
            right: 20px;
          }

          @include media("<tablet-x"){
            left: 9px;
            right: 9px;
          }
        }
      }
    }


    @include media("<tablet"){
      width: 100%;
      margin: 0;
      display: block;
      padding: 0;

      a {
        display: block !important;
        padding: 10px;

        &:hover {
          // color: $white;
          background: $blizzard-blue !important;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}

.navbar-default .navbar-toggle {
  border-color: $white;

  &:focus {
    background: none;
  }

  &:hover {
    border-color: $blizzard-blue;
    background: none;

    .icon-bar {
      background-color: $blizzard-blue;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $white;
}

.navbar-default {
  border: none !important;
}

.navbar {
  margin: 0 !important;
  border-radius: 0 !important;
  min-height: auto !important;
}

// FOREWORD SECTION //
.foreword-section {
  text-align: center;
  padding: 32px 0;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    margin: 0 0 58px;

    @include media("<tablet"){
      margin: 0 0 40px;
    }

    b {
      font-family: 'open_sans_hebrewextra_bold';
    }
  }

  .circular-box {
    background: $scooter;
    border: solid 15px $blizzard-blue;
    border-radius: 100%;
    width: 267px;
    height: 267px;
    padding: 10px;
    color: $white;
    font-size: 26px;
    font-weight: bold;
    display: table;
    table-layout: fixed;
    margin: 0 auto;
    cursor: pointer;
    font-family: 'open_sans_hebrewbold';
  }

  .foreword-link {
    display: block;
    width: 267px;
    height: 267px;
    margin: 0 auto 35px;
    border-radius: 100%;
    overflow: hidden;


    @include media("<tablet-x"){
      margin: 0 auto 20px;
    }

    &:hover {
      text-decoration: none;
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2);

      .circular-box {
        background: $scooter-1;
      }
    }
  }

  .text {
    display: table-cell;
    vertical-align: middle;
  }

  .text-box {
    font-size: 22px;
    color: $tarawera;
    font-weight: 700;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
      margin: 0 0 50px;
    }
  }
}

.foreword-section-home-page{
  .title{
	text-align: center;
  }
}

// REASON SECTION //
.reason-section {
  background: $scooter-1;
  text-align: center;
  padding: 72px 0 15px;

  @include media("<tablet"){
    padding: 40px 0 15px;
  }

  .title {
    margin: 0 0 70px;
    color: $white;

    @include media("<tablet"){
      margin: 0 0 40px;
    }
  }

  .reasons {
    margin: 0 0 70px;

    @include media("<tablet"){
      margin: 0 0 10px;
    }

  }


  .circular-box {
    border: solid 5px $blue-lagoon;
    border-radius: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    display: table;
    table-layout: fixed;
    margin: 0 auto 35px;
    width: 180px;
    height: 180px;
    cursor: pointer;
    @include media("<tablet-x"){
       margin: 0 auto 15px;
    }
    @include media("<tablet"){
     width: 135px;
     height: 135px;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: middle;

    object {
      vertical-align: middle;
    }
  }

  .text-box {
    color: $white;
    font-size: 20px;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
       margin: 0 0 40px;
    }
  }
}

// QUESTIONS SECTION //
.question-box {
  text-align: right;
  color: $tarawera;

  .sub-title {
    margin: 0 0 37px;
    font-size: 37px;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
       font-size: 31px;
    }
  }

  ul {
    @extend %listreset;
    font-size: 20px;

    li {
      margin: 0 0 26px;
    }
  }

  .name {
	color: $tarawera;
    display: inline-block;
    margin: 0 0 0 14px;
    font-family: 'open_sans_hebrewbold';
  }

  .text {
	color: $tarawera;
    margin: 0 0 0 14px;
    font-family: 'open_sans_hebrewbold';
    display: inline-block;
	vertical-align: middle;
  }

  .read-more {
    color: $tarawera;
    display: inline-block;
    position: relative;
    font-family: 'open_sans_hebrewregular';

    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      background: $white;
      height: 1px;
    }

    &:hover {
      text-decoration: none;
      color: $tarawera;

      &:after {
        background: $tarawera;
      }
    }
  }
}

// COMPETITORS SECTION //
.competitors-section {
  background: $tarawera;
  color: $white;
  text-align: center;
  padding: 26px 0 22px;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    margin: 0 0 56px;

    @include media("<tablet"){
      margin: 0 0 40px;
    }
  }
}

.competitors-list {
  @extend %listreset;
  margin: 0 0 55px;

  @include media("<tablet"){
    margin: 0 0 40px;
  }

  @include media("<phone"){
    margin: 0 0 10px;
  }

  li {
    display: inline-block;
    margin: 0 0 0 -4px;
    padding: 0 50px;

    @include media("<tablet"){
      width: 25%;
      padding: 0 10px;
    }

    @include media("<phone"){
      width: 50%;
      padding: 0 10px;
      margin: 0 0 30px -4px;
    }

    label {
      display: block;
      font-size: 22px;
      margin: 0 0 20px;
      font-family: 'open_sans_hebrewbold';

      @include media("<phone"){
        margin: 0 0 10px;
      }
    }
  }
}

// BUTTONS //
.btn {
  border-radius: 10px;
  border: none;
  font-size: 22px;
  min-width: 237px;
  font-weight: 700;
  padding: 14px 14px;
  font-family: 'open_sans_hebrewbold';

  &:focus, &:active:focus {
    outline: none;
    box-shadow: none;
    border: none;
  }

  &:active {
    box-shadow: 0 0 4px 3px rgba(255, 255, 255, 0.1) !important;
  }
}

.btn-white {
  color: $tarawera;
  background: $white;
}

.btn-blue {
  color: $tarawera;
  background: $scooter-1;
}

// BASIC STYLES//
.color-blue {
  color: $scooter-1;
}

.title {
  font-size: 37px;
  font-family: 'open_sans_hebrewbold';

  @include media("<tablet"){
    font-size: 31px;
  }
}

// SLIDER SECTION //
.slider-section {
  background: $iron;
  padding: 26px 0 30px;

  @include media("<tablet-x"){
    padding: 65px 0 90px;
  }

  @include media("<tablet"){
    padding: 40px 0 90px;
  }

  .holder {
    max-width: 960px;
  }

  .owl-carousel {
    direction: ltr;

    .owl-stage-outer {
      max-width: 680px;
      margin: 0 auto;
    }

    .item {
      @extend %clearfix;
      max-width: 680px;
      direction: rtl;
      border-top: solid 2px $scooter-1;
      border-bottom: solid 2px $scooter-1;
      padding: 44px 0;
    }

    .item-title {
      font-size: 22px;
      font-family: 'open_sans_hebrewbold';
    }

    .text {
	  overflow: hidden;
      font-size: 22px;
      font-family: 'open_sans_hebrewregular';
    }

    .photo {
      float: right;
      margin: 0 0 0 40px;

      @include media("<tablet"){
        margin: 0 0 20px 40px;
      }

      img {
        width: 160px;
        height: 160px;
        border-radius: 100%;
      }
    }
  }

  .title {
    text-align: center;
    margin: 0 0 40px;

    @include media("<tablet"){
      margin: 0 0 20px;
    }
  }

  // OWL PREV //
  .owl-prev {
    background-color: $scooter-1;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -13px 0 0;

    @include media("<tablet-x"){
      bottom: -50px;
      right: 50%;
      margin: 0 -50px 0 0;
      top: auto;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
    }
  }

  .owl-prev,
  .owl-prev:before,
  .owl-prev:after {
    width:  26px;
    height: 26px;
    border-top-right-radius: 25%;
  }

  .owl-prev {
    transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
  }
  .owl-prev:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .owl-prev:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }

  // OWL NEXT //
  .owl-next {
    position: absolute;
    top: 50%;
    left: 20px;
    margin: -13px 0 0;
    background-color: $scooter-1;
    text-align: left;

     @include media("<tablet-x"){
      bottom: -64px;
      left: 50%;
      margin: 0 0 0 -50px;
      top: auto;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
    }
  }

  .owl-next,
  .owl-next:before,
  .owl-next:after {
    width:  26px;
    height: 26px;
    border-top-right-radius: 25%;
  }

  .owl-next {
    transform: rotate(90deg) skewX(-30deg) scale(1,.866);
  }
  .owl-next:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .owl-next:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
}


// WHY US SECTION //
.why-us-section {
  background: $white;
  color: $tarawera;
  padding: 30px 0;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    margin: 0 0 40px;
    text-align: center;
  }

  .text {
    margin: 0 0 20px;
    font-size: 22px;
    font-family: 'open_sans_hebrewregular';

    @include media("<tablet"){
      font-size: 18px;
    }

    b {
      font-family: 'open_sans_hebrewbold';
    }
  }

  .more {
    font-family: 'open_sans_hebrewregular';
    font-size: 22px;
    color: $flamingo;
    text-decoration: underline;

    &:hover {

    }
  }
}

//JOIN SECTION //
.join-section {
  background: $blue-lagoon;
  color: $white;
  padding: 27px 0 22px;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .holder {
    max-width: 1000px;
  }

  .title {
    text-align: center;
    margin: 0 0 65px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .join-box {
    margin: 0 0 55px;

    @include media("<tablet-x"){
      margin: 0 0 10px;
    }
  }

  .circular-box {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: table;
    table-layout: fixed;
    margin: 0 auto 5px;
    text-align: center;
    cursor: pointer;
    @include media("<tablet-x"){
      margin: 0 auto 10px;
    }
    @include media("<tablet"){
     width: 135px;
     height: 135px;
    }

    object {
      width: 110px;
      height: 110px;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: middle;
  }

  .text-box {
    text-align: center;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
      margin: 0 0 40px;
    }

    @include media("<tablet"){
      margin: -15px 0 25px;
    }
  }

  .btn-box {
    text-align: center;
  }
}

// PSYHOMETRY SECTION //
.psychometry-section {
  background: $scooter-1;
  padding: 70px 0;
  color: $white;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    text-align: center;
    margin: 0 0 50px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .btn-box {
    text-align: center;
  }
}

// QUESTIONS SECTION //
.questions-section {
  padding: 22px 0 28px;
  text-align: center;
  font-family: 'open_sans_hebrewbold';

  @include media("<tablet"){
    padding: 40px 0 5px;
  }

  .title {
    margin: 0 0 70px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .form {

  }

  .form-box {
    @include media("<tablet-x"){
      margin: 0 0 30px;
    }
  }

  .icon-box {
    width: 106px;
    height: 106px;
    border-radius: 100%;
    text-align: center;
    display: table;
    table-layout: fixed;
    margin: 0 auto 30px;
  }

  .icon {
    display: table-cell;
    vertical-align: middle;

    object {
      vertical-align: middle;
    }
  }

  .icon-orange {
    background: $flamingo;
    color: $white;
  }

  .icon-green {
    background: $chateau-green;
    color: $white;
	cursor: pointer;
  }

  .text {
    min-height: 60px;
    margin: 0 0 10px;

    @include media("<tablet"){
      min-height: 40px;
      margin: 0 0 15px;
    }
  }

  .input-box {

    .input-text-icon {
      max-width: 515px;
      height: 46px;
      border: solid 2px $tarawera;
      border-radius: 10px;
      background: $white;
      margin: 0 auto;
      padding: 0 0 0 40px;
      position: relative;

      input[type="text"] {
        border: none;
        outline: none;
        -webkit-appearance: none;
        text-align: left;
        width: 100%;
        height: 41px;
        border-radius: 0 10px 10px 0;
      }

      input[type="submit"] {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 35px;
        float: left;
        border: none;
        cursor: pointer;
        border-radius: 10px 0 0 10px;
        background: url(../images/arrow_svg_left.svg) no-repeat center center;
        background-size: 15px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .number {
    font-size: 30px;
    a {
      color: $tarawera;
    }
  }
}

// WHAT BETTER SECTION //
.what-better-section {
  font-size: 22px;

  @include media("<tablet"){
    font-size: 18px;
  }

  .holder {
    position: relative;
    padding: 20px 15px 38px;

    @include media("<tablet"){
      padding: 40px 15px 45px;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 15px;
      right: 15px;
      background: $scooter-1;
      height: 2px;
    }
  }

  .title {
    font-size: 22px;
  }

  .sub-title {
    margin: 0 0 15px;
  }

  .strong-text {
    margin: 0 0 17px;
  }

  .text {

  }
}


// BANNER SECTION //

.banner-section {
  background: $tarawera;
  color: $white;
  padding: 20px 0 20px;
  font-family: 'open_sans_hebrewbold';
  text-align: center;

  @include media("<tablet"){
    padding: 40px 0 35px;
  }

  .text {
    margin: 0 0 20px;
    font-size: 30px;

    @include media("<tablet"){
      font-size: 20px;
      margin: 0 0 15px;
    }
  }

  .title {
    @include media("<tablet"){
      font-size: 25px;
    }
  }
}

// REASON SECTION SECOND //
.reason-section-second {
  background: $white;
  text-align: center;
  padding: 72px 0 70px;

  @include media("<tablet"){
    padding: 40px 0 15px;
  }

  .title {
    margin: 0 0 70px;
    color: $tarawera;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .circular-box {
    border: solid 5px $scooter-1;
    border-radius: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    display: table;
    table-layout: fixed;
    margin: 0 auto 35px;
    width: 180px;
    height: 180px;
    cursor: pointer;
    @include media("<tablet-x"){
       margin: 0 auto 15px;
    }
    @include media("<tablet"){
     width: 135px;
     height: 135px;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: middle;

    object {
      vertical-align: middle;
    }
  }

  .text-box {
    color: $tarawera;
    font-size: 20px;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
       margin: 0 0 40px;
    }
  }
}


// SLIDER SECTION SECOND //
.slider-section-second {
  background: $scooter-1;
  padding: 26px 0 20px;

  @include media("<tablet-x"){
    padding: 65px 0 90px;
  }

  @include media("<tablet"){
    padding: 40px 0 90px;
  }

  .holder {
    max-width: 960px;
  }

  .owl-carousel {
    direction: ltr;

    .owl-stage-outer {
      max-width: 680px;
      margin: 0 auto;
    }

    .item {
      @extend %clearfix;
      max-width: 680px;
      direction: rtl;
      border-top: solid 2px $white;
      border-bottom: solid 2px $white;
      padding: 44px 0;
    }

    .item-title {
      font-size: 22px;
      font-family: 'open_sans_hebrewbold';

      @include media("<tablet"){
        font-size: 18px;
      }
    }

    .text {
      float: right;
      font-size: 22px;
      font-family: 'open_sans_hebrewregular';

      @include media("<tablet"){
        font-size: 18px;
      }
    }

    .photo {
      float: right;
      margin: 0 0 0 40px;
      width: 160px;
      height: 160px;
      border-radius: 100%;
      border: solid 2px $tarawera;

      @include media("<tablet"){
        margin: 0 0 20px 40px;
      }

      img {
        width: 160px;
        height: 160px;
        border-radius: 100%;
      }
    }
  }

  .title {
    text-align: center;
    margin: 0 0 40px;

    @include media("<tablet"){
      margin: 0 0 20px;
    }
  }

  // OWL PREV //
  .owl-prev {
    background-color: $white;
    text-align: left;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -13px 0 0;

    @include media("<tablet-x"){
      bottom: -50px;
      right: 50%;
      margin: 0 -50px 0 0;
      top: auto;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
    }
  }

  .owl-prev,
  .owl-prev:before,
  .owl-prev:after {
    width:  26px;
    height: 26px;
    border-top-right-radius: 25%;
  }

  .owl-prev {
    transform: rotate(-90deg) skewX(-30deg) scale(1,.866);
  }
  .owl-prev:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .owl-prev:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }

  // OWL NEXT //
  .owl-next {
    position: absolute;
    top: 50%;
    left: 20px;
    margin: -13px 0 0;
    background-color: $white;
    text-align: left;

     @include media("<tablet-x"){
      bottom: -64px;
      left: 50%;
      margin: 0 0 0 -50px;
      top: auto;
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: inherit;
    }
  }

  .owl-next,
  .owl-next:before,
  .owl-next:after {
    width:  26px;
    height: 26px;
    border-top-right-radius: 25%;
  }

  .owl-next {
    transform: rotate(90deg) skewX(-30deg) scale(1,.866);
  }
  .owl-next:before {
    transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
  }
  .owl-next:after {
    transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
  }
}

.reason-section-four {
  background: $scooter-1;
  text-align: center;
  padding: 29px 0 15px;

  @include media("<tablet"){
	padding: 40px 0 15px;
  }

  .title {
	margin: 0 0 70px;
	color: $white;

	@include media("<tablet-x"){
	  margin: 0 0 30px;
	}

	@include media("<tablet"){
	  margin: 0 0 30px;
	}
  }

  .circular-box {
	border: solid 5px $white;
	border-radius: 100%;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	display: table;
	table-layout: fixed;
	margin: 0 auto 13px;
	width: 130px;
	height: 130px;
  	cursor: pointer;
	@include media("<tablet-x"){
	  margin: 40px auto 15px;
	}
	@include media("<tablet"){
	   width: 135px;
	   height: 135px;
	}
  }

  .icon {
	display: table-cell;
	vertical-align: middle;

	object {
	  vertical-align: middle;
	}
  }

  .text-box {
	color: $white;
	font-size: 20px;
	padding: 10px 0 0;
	font-family: 'open_sans_hebrewbold';
	cursor: pointer;

	@include media("<tablet-x"){
	   margin: 0 0 40px;
	}


  }

  .tab-text-box {
	display: none;
	position: relative;
	z-index: 2;

	&:after {
	  content: '';
	  background: $blue-lagoon;
	  position: absolute;
	  left: 0;
	  right: 0;
	  width: 100%;
	  bottom: -10px;
	  height: 10px;
	  z-index: 1;
	}

	.text-table {
	  background: $blue-lagoon;
	  color: $white;
	  border-radius: 10px 10px 0 0;
	  min-height: 76px;
	  display: table;
	  width: 100%;
	  table-layout: fixed;
	  font-family: 'open_sans_hebrewbold';
	  cursor: pointer;
	}

	.text-cell {
	  display: table-cell;
	  vertical-align: middle;
	}
  }

  .mark {
	background: none;
	font-size: 15px;
	padding: 14px 0 0;

	span {
	  position: relative;

	  &:after {
		content: '';
		height: 2px;
		background: $blue-lagoon;
		position: absolute;
		bottom: -5px;
		left: 0;
		right: 0;
		width: 100%;
	  }
	}
  }

  .question-box {
	margin: 50px 0 0;

	@include media("<tablet"){
	  margin: 10px 0 0;
	}
  }

  .tab-box {
	border-radius: 10px;
	background: $blue-lagoon;
	width: 100%;
	display: none;

  	.body-tab {
  	  padding: 30px 30px 30px;
  	}
  }
}

.reason-section-five {
  background: $white;
  text-align: center;
  padding: 28px 0 23px;

  @include media("<tablet"){
	padding: 40px 0;
  }

  .title {
	margin: 0 0 70px;
	color: $tarawera;

	@include media("<tablet-x"){
	  margin: 0 0 30px;
	}

	@include media("<tablet"){
	  margin: 0 0 30px;
	}
  }

  .circular-box {
	border: solid 5px $scooter-1;
	border-radius: 100%;
	padding: 10px;
	font-size: 25px;
	font-weight: bold;
	display: table;
	table-layout: fixed;
	margin: 0 auto 18px;
	width: 130px;
	height: 130px;
  cursor: pointer;
	@include media("<tablet-x"){
	  margin: 20px auto 15px;
	}

@include media("<tablet"){
    width: 135px;
    height: 135px;
  }
}

  .icon {
	display: table-cell;
	vertical-align: middle;

	object {
	  vertical-align: middle;
	}
  }

  .text-box {
	font-size: 20px;
	font-family: 'open_sans_hebrewbold';
	color: $tarawera;
	cursor: pointer;
	margin: 0 0 25px;
  }

  .tab-text-box {
	display: none;
	position: relative;
	z-index: 2;

	&:after {
	  content: '';
	  background: $scooter-1;
	  position: absolute;
	  left: 0;
	  right: 0;
	  width: 100%;
	  bottom: -10px;
	  height: 10px;
	  z-index: 1;
	}

	.text-table {
	  background: $scooter-1;
	  color: $white;
	  border-radius: 10px 10px 0 0;
	  min-height: 88px;
	  display: table;
	  width: 100%;
	  table-layout: fixed;
	  font-family: 'open_sans_hebrewbold';
	  cursor: pointer;
	}

	.text-cell {
	  display: table-cell;
	  vertical-align: middle;
	}
  }

  .mark {
	background: none;
	font-size: 15px;
	padding: 14px 0 0;

	span {
	  position: relative;

	  &:after {
		content: '';
		height: 2px;
		background: $scooter-1;
		position: absolute;
		bottom: -5px;
		left: 0;
		right: 0;
		width: 100%;
	  }
	}
  }
}


// JOIN SECTION SECOND //
.join-section-second {
  background: $tarawera;
  color: $white;
  padding: 67px 0 55px;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .holder {
    max-width: 1000px;
  }

  .title {
    text-align: center;
    margin: 0 0 65px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .circular-box {
    width: 130px;
    height: 130px;
    padding: 10px;
    display: table;
    table-layout: fixed;
    margin: 0 auto 5px;
    text-align: center;
    cursor: pointer;
    @include media("<tablet-x"){
      margin: 0 auto 10px;
    }
    @include media("<tablet"){
      width: 135px;
      height: 135px;
    }

    @include media("<tablet"){
      margin: 0 auto 0;
    }

    object {
      width: 110px;
      height: 110px;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: middle;
  }

  .text-box {
    text-align: center;
    font-family: 'open_sans_hebrewbold';

    @include media("<tablet-x"){
      margin: 0 0 40px;
    }

    @include media("<tablet"){
      margin: 0 0 20px;
    }
  }
}


// CALENDAR SECTION SECOND //
.calendar-section {
  padding: 28px 0 40px;
  background: $white;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .holder {
    overflow: hidden;
  }

  .title {
    text-align: center;
    margin: 0 0 70px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .calendar-box {
    float: right;
    max-width: 750px;
    width: 100%;

    @include media("<widescreen"){
      max-width: 730px;
    }

    @include media("<desktop"){
      float: none;
      margin: 0 auto;
    }
  }

  .button-box {
    float: left;
    max-width: 320px;
    padding: 17px 10px 0 0;

    @include media("<desktop"){
      margin: 0 0 30px;
      float: none;
      max-width: none;
      text-align: center;
    }

    @include media("<tablet"){
      padding: 0;
    }
  }
}

.calendar-list {
  @extend %listreset;
  position: relative;
  margin: 0 0 30px;

  &:last-child {

    @include media("<tablet"){
      margin: 0;
    }
  }

  @include media("<tablet"){
    margin: 0 0 0 -4px;
    display: inline-block;
    width: 33.3%;
  }

  @include media("<phone"){
    display: block;
    margin: 0 0 40px;
    width: 100%;
  }

  &:after {
    content: '';
    background: $scooter-1;
    position: absolute;
    top: 50%;
    right: 30px;
    left: 30px;
    height: 3px;
    margin: 1px 0 0;

    @include media("<tablet"){
      top: 0;
      left: 50%;
      right: auto;
      bottom: 0;
      margin: 0 0 0 1px;
      height: 100%;
      width: 2px;
    }
  }

  li {
    width: 25%;
    display: inline-block;
    margin: 0 0 0 -4px;
    vertical-align: middle;

    &:last-child {
      @include media("<tablet"){
        margin: 0;
      }
    }

    @include media("<tablet"){
      width: 100%;
      display: block;
      margin: 0 0 10px;
    }
  }

  .box {
    border: solid 3px $scooter-1;
    border-radius: 100%;
    text-align: center;
    width: 140px;
    height: 140px;
    margin: 0 auto;
    display: table;
    overflow: hidden;
    background: $white;
    z-index: 1;
    position: relative;
    font-family: 'open_sans_hebrewbold';
    font-size: 15px;

    @include media("<tablet"){
      width: 120px;
      height: 120px;
      font-size: 14px;
    }
  }

  .main-box {
    border: solid 3px $scooter-1;
    border-radius: 100%;
    text-align: center;
    width: 166px;
    height: 166px;
    margin: 0 auto;
    background: $scooter-1;
    display: table;
    overflow: hidden;
    z-index: 1;
    position: relative;
    font-size: 27px;

    @include media("<tablet"){
      width: 150px;
      height: 150px;
      font-size: 25px;
    }
  }

  .text {
    display: table-cell;
    vertical-align: middle;
  }
}

// RESULTS SECTION //
.results-section {
  padding: 28px 0 40px;
  background: $scooter-1;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    text-align: center;
    margin: 0 0 70px;
    color: $white;

    @include media("<tablet-x"){
      margin: 0 0 30px;
    }
  }

  .content-box {
    background: $white;
    border-radius: 10px;
    color: $tarawera;
    text-align: center;
    padding: 80px 10px;
    max-width: 313px;
    float: left;
    width: 100%;

    @include media("<tablet"){
      float: none;
      margin: 0 auto 30px;
    }
  }

  .content-box-iframe{
	border-radius: 10px;
	text-align: center;
	max-width: 313px;
	width: 100%;
	float: left;

	@include media("<tablet"){
	  float: none;
	  margin: 0 auto 30px;
	  max-width: 533px;
	}
  }
}


// BANNER SECTION THIRD //
.banner-section-third {
  background: $scooter-1;
  color: $white;
  padding: 50px 0 60px;
  font-family: 'open_sans_hebrewbold';
  text-align: center;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    @include media("<tablet"){
      font-size: 28px;
      line-height: 1.3;
      margin: 0 0 10px;
    }
  }


  .text {
    margin: 0 0 20px;
    font-size: 30px;

    @include media("<tablet"){
      font-size: 25px;
      margin: 0;
    }
  }
}

// REASON SECTION THIRD //
.reason-section-third {
  background: $white;
  text-align: center;
  padding: 29px 0 56px;

  @include media("<tablet"){
    padding: 40px 0;
  }

  .title {
    margin: 0 0 70px;
    color: $port-gore;

    @include media("<tablet-x"){
       margin: 0 0 30px;
    }

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .circular-box {
    border: solid 5px $scooter-1;
    border-radius: 100%;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    display: table;
    table-layout: fixed;
    margin: 0 auto 35px;
    width: 130px;
    height: 130px;
    cursor: pointer;

    @include media("<tablet-x"){
       margin: 20px auto 15px;
    }

    @include media("<tablet"){
     width: 135px;
     height: 135px;
    }
  }

  .icon {
    display: table-cell;
    vertical-align: middle;

    object {
      vertical-align: middle;
    }
  }

  .text-box {
    font-size: 20px;
    font-family: 'open_sans_hebrewbold';
    color: $port-gore;
    cursor: pointer;
    margin: 0 0 25px;
  }

  .tab-text-box {
    display: none;
    position: relative;
    z-index: 2;

    &:after {
      content: '';
      background: $scooter-1;
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      bottom: -10px;
      height: 10px;
      z-index: 1;
    }

    .text-table {
      background: $scooter-1;
      color: $white;
      border-radius: 10px 10px 0 0;
      min-height: 88px;
      display: table;
      width: 100%;
      table-layout: fixed;
      font-family: 'open_sans_hebrewbold';
      cursor: pointer;
    }

    .text-cell {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .mark {
    background: none;
    font-size: 15px;
    padding: 14px 0 0;

    span {
      position: relative;

      &:after {
        content: '';
        height: 2px;
        background: $scooter-1;
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        width: 100%;
      }
    }
  }
}

.gifts-section {
  background: $tarawera;
  color: $white;
  padding: 20px 0;

  @include media("<tablet"){
    padding: 40px 0 0;
  }

  .title {
    text-align: center;
    margin: 0 0 25px;

    @include media("<tablet"){
      margin: 0 0 20px;
    }
  }

  .sub-title {
    text-align: center;
    font-family: 'open_sans_hebrewbold';
    font-size: 30px;
    margin: 0 0 50px;

    @include media("<tablet"){
      margin: 0 0 30px;
    }
  }

  .gift-box {
    margin: 0 0 32px;
    background: $jelly-bean;
  }

  .gift-box-small {
    font-size: 15px;

    .image-box {;
      height: 85px;
    }

    @include media("<tablet"){
      font-size: 20px;
    }
  }

  .image-box {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 15px;
    height: 112px;

    .icon {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }
  }

  .text-box {
    text-align: center;
    background: $pelorous;
    line-height: 1.2;
    padding: 15px 9px;
  }
}

.tab-box {
  border-radius: 10px;
  background: $scooter-1;
  width: 100%;
  display: none;

  .body-tab {
    padding: 30px 30px 30px;
  }
}


/* Custom Table  */

.custom-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 13px;
  border: solid 2px $tarawera;
  border-radius: 10px;
  font-family: 'open_sans_hebrewbold';
  border-collapse: separate;
  overflow: hidden;
  line-height: 1.2;

  td, th {
    border: 1px solid #000;
    text-align: center;
  }

  th {
    background: $tarawera;
    color: $white;
    font-weight: 400;
    font-size: 15px;
    padding: 20px 10px;
    border-color: $white;
    border-top: none;
    border-bottom: none;

    &:first-child {
      border-right: none;
    }

    &:last-child {
      border-left: none;
    }
  }

  tr {

    td {

      &:nth-child(2) {
         border-right: none;
      }
    }

    &:last-child {

      td {

        &:first-child {
          border-bottom: none;
        }
      }
    }
  }

  td {
    padding: 12px 10px;
    background: $white;

    &:first-child {
      background: $tarawera;
      color: $white;
      border-color: $white;
      border-right: none;
      font-size: 15px;
    }

    &.blue-cell {
      background: $blizzard-blue-1;
    }
  }

  tbody {

    tr {

      td {

        &:last-child {
          border-left: none;
        }
      }

      &:first-child {

        td {
          border-top: solid 2px $white;

          @include media("<tablet"){
            border-top: none;
          }
        }
      }

      &:last-child {

        td {
          border-bottom: none;
        }
      }
    }
  }
}

// responsive

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .custom-table, .custom-table thead, .custom-table tbody, .custom-table th, .custom-table td, .custom-table tr {
    display: block;
  }

  .custom-table {
    border: solid 2px #000;
    clear: both;
  }

  /* Hide table headers */
  .custom-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .custom-table tr { border-bottom: 1px solid #000; }

  .custom-table tr:last-child { border-bottom: none; }

  .custom-table td, th {
    text-align: left;
  }

  .custom-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #000;
    position: relative;
    padding-left: 50%;
  }

  .custom-table td:before {
    /* Now like a table header */
    position: absolute;
    top: 0;
    left: 0;
    width: 45%;
    white-space: nowrap;
    font-weight: 700;
	height: 100%;
	background: $tarawera;
	padding: 12px;
	color: #fff;
  }

  .custom-table td:first-child:before {
	background: none;
  }

  .custom-table td:first-child {
	border-color: #000;
  }


  /* Label the data */
  .custom-table td:nth-of-type(1):before { content: ""; }
  .custom-table td:nth-of-type(2):before { content: "וכיספ"; }
  .custom-table td:nth-of-type(3):before { content: "חוור בינ"; }
  .custom-table td:nth-of-type(4):before { content: "Home םודיק"; }
  .custom-table td:nth-of-type(5):before { content: "SelfClass ויק-ייה"; }
}


// FOOOTER //
.footer {
  background: $tarawera;
  width:100%;
  overflow:hidden; /*for FF on Windows 7*/
  display:table-footer-group;
  height:1%;

  .holder {
    padding: 30px 0;
  }
}

.footer-navigation {
  font-family: 'open_sans_hebrewbold';

  ul {
    @extend %listreset;
    display: table;
    width: 100%;
  }

  li {
    display: table-cell;
    text-align: center;
    border-left: solid 1px $white;
    padding: 0 5px;

    @include media("<tablet-x"){
      font-size: 18px;
    }

    @include media("<tablet"){
      display: block;
      margin: 0 0 15px;
      border: none;
    }

    &:last-child {
      border: none;
      margin: 0;
    }
  }

  a {
    color: $white;

    &:hover {

    }
  }
}

.accordion-section {

  .accord-header {
    display: block;
    color: $tarawera;
    border: solid 2px $white;
    border-radius: 15px;
    margin: 0 0 13px;
    padding: 10px 25px 10px 40px;
    font-family: 'open_sans_hebrewbold';
    background: $scooter-1 url(../images/arrow_svg_left.svg) no-repeat 13px center;
    background-size: 15px;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  .accord-content {
    display: none;
    border-radius: 15px;
    margin: 0 0 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
  }

  .active {
    background: $white url(../images/arrow_svg_down.svg) no-repeat 15px center;
    background-size: 18px;
    margin: 0 0 10px;
  }
}

.bye-section {
  padding: 70px 0 70px;

  .title-box {
    text-align: center;
    margin: 0 0 70px;
    color: $white;
    font-family: 'open_sans_hebrewbold';

    h3 {
      font-size: 37px
    }
  }

  .bye-info-section {
    text-align: center;
    padding: 0 0 70px;

    .circular-box {
      background: $white;
      border-radius: 100%;
      padding: 10px;
      font-size: 20px;
      margin: 0 auto 35px;
      width: 265px;
      height: 265px;
      cursor: pointer;
      @include media("<tablet-x"){
        padding: 10px;
        margin: 0 auto 35px;
        width: 222px;
        height: 222px;
      }

      @include media("<tablet"){
         margin: 0 auto 45px;
      }
      @include media("<tablet"){
       width: 135px;
       height: 135px;
      }
    }

    .text1 {
      margin: 50px 30px 15px;
      height: 115px;
      font-size: 17px;

      @include media("<tablet-x"){
        margin: 16px 20px 6px;
        height: 131px;
        font-size: 17px;
      }

      .title {
        font-size: 22px;
        margin: 0 0 20px;

        @include media("<tablet-x"){
          font-size: 21px;
          margin: 0 0 5px;
        }
      }

      .info {
		margin-bottom: 50px;
      }

      .small-text {
        font-size: 13px;
      }

      .number {
        font-size: 30px;
        font-family: 'open_sans_hebrewbold';
      }
    }

    .btn-orange {
      background: $flamingo;
      color: $white;
      border: none;
      border-radius: 10px;
      font-size: 12px;
      padding: 5px;
      min-width: 85px;

      &:focus {
        outline: none;
      }

      &:active {
        background: #FD470A;
      }
    }

    .text-left {
      text-align: left;
    }

    .text-center {
      text-align: right;
    }

    .text-right {
      text-align: center;
    }
  }

  .comment-box {

    .comment {
      margin: 0 0 35px;
    }

    .title {
      color: $tarawera;
      font-size: 22px;
      margin: 0 0 20px;
    }

    .text {
      color: $white;
    }

    .link {
      text-align: left;

      a {
        color: $blue-dianne;
        text-decoration: underline;
        font-size: 15px;
      }
    }
  }

  .accordion-section {
    max-width: 515px;
    padding: 0 0 0 30px;

    @include media("<tablet"){
      padding: 0;
      max-width: none;
    }
  }

  // RESULTS SECTION //

  // BYE CONTENT SECTION //
  .bye-content-section {

	.title {
	  text-align: center;
	  margin: 0 0 35px;
	  color: $white;
	}

	.content-box {
	  background: $white;
	  border-radius: 10px;
	  color: $tarawera;
	  text-align: center;
	  padding: 80px 10px;
	  max-width: 313px;
	  float: left;
	  width: 100%;

	  @include media("<tablet"){
		float: none;
		margin: 0 auto 30px;
	  }
	}
  }

  .bye-info-section {
	text-align: center;
	padding: 0 0 70px;

	.circular-box {
	  background: $white;
	  border-radius: 100%;
	  padding: 10px;
	  font-size: 20px;
	  margin: 0 auto 35px;
	  width: 265px;
	  height: 265px;
	  font-family: 'open_sans_hebrewbold';
	  overflow: hidden;

	  @include media("<tablet-x"){
		padding: 10px;
		margin: 0 auto 35px;
		width: 230px;
		height: 230px;
	  }

	  @include media("<tablet"){
		margin: 0 auto 45px;
	  }
	}

	.text {
	  margin: 48px 30px 15px;
	  font-size: 17px;
	  position: relative;
	  padding: 0 0 50px;
	  height: 170px;

	  .btn-orange {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	  }

	  @include media("<tablet-x"){
		margin: 33px 26px 6px;
		font-size: 17px;
	  }

	  .title {
		font-size: 22px;
		margin: 0 0 10px;
		max-height: 60px;
		overflow: hidden;

		@include media("<tablet-x"){
		  font-size: 21px;
		  margin: 0 0 5px;
		}
	  }

	  .info {
		max-height: 100px;
		overflow: hidden;
	  }

	  .small-text {
		font-size: 13px;
	  }

	  .number {
		font-size: 30px;
		font-family: 'open_sans_hebrewbold';
	  }
	}

	.btn-orange {
	  background: $flamingo;
	  color: $white;
	  border: none;
	  border-radius: 10px;
	  font-size: 12px;
	  padding: 8px 5px;
	  min-width: 85px;

	  &:focus {
		outline: none;
	  }

	  &:active {
		background: #FD470A;
	  }
	}

	.text-left {
	  text-align: left;
	}

	.text-center {
	  text-align: right;
	}

	.text-right {
	  text-align: center;
	}
  }
}

.products-section {
  margin:10px 0 10px 0;

  .product-box {
	max-width: 890px;
	margin: 0 auto;
	border-top: solid 1px $tarawera;
	padding: 40px 0 30px;
	overflow: hidden;

	&:last-child {
	  border-bottom: solid 1px $tarawera;
	}
  }

  .image-box {
	width: 200px;
	padding: 0 0 0 30px;
	float: right;

	@include media("<tablet"){
	  float: none;
	  width: 100%;
	}

	img {
	  margin: 0 0 35px;
	}
  }

  .rait {
	.rait-list {
	  padding: 0;
	  margin: 0;
	  list-style: none;

	  li {
		display: inline-block;
		margin: 0 0 0 -4px;
		padding: 0 2px;
		vertical-align: middle;
	  }

	  .rait-icon {
		padding: 0 0 0 10px;
	  }
	}
  }

  .content-box {
	overflow: hidden;

	.title {
	  color: $scooter-1;
	  font-size: 26px;
	  margin: 0 0 10px;
	}

	.sub-title {
	  color: $scooter-1;
	  max-width: 160px;
	  border-top: solid 1px $tarawera;
	  border-bottom: solid 1px $tarawera;
	  font-size: 14px;
	  padding: 10px 0 ;
	  margin: 0 0 20px;
	  font-family: 'open_sans_hebrewbold';

	  .line-through-text {
		position: relative;

		&:after {
		  content: '';
		  position: absolute;
		  top: 50%;
		  left: 0;
		  right: 0;
		  height: 1px;
		  background: red;
		}
	  }
	}

	.text {
	  color: $tarawera;
	  margin: 0 0 30px;
	  font-size: 11px;
	  max-width: 580px;
	}

	.btn-box {
	  text-align: left;
	  padding: 0 0 0 4px;
	  max-width: 645px;

	  @include media("<tablet"){
		text-align: center;
	  }

	  ul {
		padding: 0;
		margin: 0;
		list-style: none;

	  }

	  li {
		display: inline-block;
		margin: 0 0 0 -4px;
		padding: 0 20px 0 0;

		@include media("<tablet"){
		  margin: 0 auto 10px;
		  display: block;
		  padding: 0;
		  max-width: 300px;
		}
	  }

	  a {
		color: $tarawera;
		background: $scooter-1;
		border-radius: 20px;
		min-width: 100px;
		text-align: center;
		padding: 10px;
		display: block;
		font-size: 12px;
		font-family: 'open_sans_hebrewbold';

		&:hover {

		}
	  }

	  .light-blue-btn {
		background: rgba(0, 182, 204, 0.3)
	  }

	  .blue-btn {
		background: $scooter-1;
	  }
	}
  }
}

.premiere-section {
  color: $white;
}

.premiere-box {

  .sub-title {
	color: $blue-lagoon;
	font-family: 'open_sans_hebrewbold';
	float: right;
	width: 250px;
	padding: 0 0 0 15px;

	@include media("<tablet"){
	  float: none;
	  padding: 0 0 10px 0;
	}
  }

  .text {
	overflow: hidden;
  }
}

.wrapper-link-white{
  .text-box{
	color: $white;
  }
}


.bye-section-light-blue {
  background: $scooter-1;

  .circular-box {
	color: $blue-lagoon;
  }
}

.bye-section-dark-blue {
  background: $tarawera;

  .circular-box {
	color: $tarawera;
  }
}
.breadcrambs {
  padding: 20px 0;
  margin: 0 0 50px;
  font-size: 32px;

  @include media("<tablet"){
    font-size: 18px;
    margin: 10px 0 10px;
  }

  .icon-card {
    float: right;

    @include media("<tablet"){
      margin: 0 0 10px 10px;
    }
  }

  ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0 15px 0 45px;
    position: relative;

    @include media("<tablet"){
      padding: 0 0 0 25px;
    }

    &:after {
      content: '>';
      position: absolute;
      top: 1px;
      left: 5px;
    }

    &:last-child {

      &:after {
        display: none;
      }
    }

    &.active {

      a {
        color: $scooter-1;
        font-weight: 700;
        cursor: default;
      }
    }
  }

  a {

    &:hover {
      text-decoration: none;
      color: $scooter-1;
    }
  }
}
/* Custom Table Card */
.custom-table-card {
  width: 100%;
  border-collapse: collapse;
  font-size: 17px;
  border-top: solid 2px $tarawera;
  font-family: 'open_sans_hebrewbold';
  border-collapse: separate;
  overflow: hidden;
  line-height: 1.2;

  td, th {
    border: 1px solid #000;
    text-align: center;
  }

  th {
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    padding: 20px 10px;
    border: none;
    border-bottom: solid 2px $tarawera;
  }


  td {
    padding: 30px 10px;
    background: $white;
    border: none;
  }

  .bottom-border {
    td {
      border-bottom: solid 1px #ccc;
    }
  }

  tr {

    &.bottom-bold-border  {

      td {
        border-bottom: solid 2px $tarawera;
      }
    }
  }

  .border-bottom-cell {
    border-bottom: solid 2px $tarawera;
  }

  .text-holder {
    text-align: right;

    @include media("<tablet"){
      text-align: left;
    }
  }

  .text {
    text-align: right;
    font-family: 'open_sans_hebrewregular';

    @include media("<tablet"){
      text-align: right;
    }
  }

  .text-align-right {
    text-align: right;

    @include media("<tablet"){
      text-align: right;
    }
  }

  .check-form {
    margin: 0 -49px 10px 0;

    @include media("<tablet"){
      margin: 0 0 10px;
      text-align: right;
    }

    .jcf-checkbox {
      @include media("<tablet"){
        display: block;
        margin: 0 0 5px;
      }
    }
  }

  .title {
    font-size: 20px;
    text-align: right;
    margin: 0 0 10px;

    @include media("<tablet"){
      text-align: right;
    }
  }

  .price {
    font-size: 20px;
    color: $scooter-1;
  }

  .jcf-checkbox {
    background: #fff;
    border: 2px solid $tarawera;
    border-radius: 0;
    margin: 0 3px 0 10px;

    span {
      background: 0;
      position: relative;

      &:after {
        content: '\2714';
        position: absolute;
        top: -6px;
        right: 0;
        font-size: 25px;
      }
    }
  }
}
.counter-product {
  width: 35px;
  height: 35px;
  border: solid 1px $tarawera;
  text-align: center;
  margin: 0 10px;

  &:focus {
    outline: none;
  }
}

.counter-product-minus {
  font-size: 25px;
  color: $scooter-1;
  line-height: 1;
  vertical-align: top;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $tarawera;
  }
}

.counter-product-plus {
  font-size: 25px;
  line-height: 1;
  color: $scooter-1;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $tarawera;
  }
}
.custom-table-card-summary {

  tbody {

    td {
      vertical-align: top;
    }

    .delivery {
      vertical-align: middle;
    }
  }
}
