// list reset
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

// clearfix
%clearfix {
 &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.clearfix {
  @extend %clearfix;
}


// transition
%transition {
 transition: all 0.3s ease-in-out;
}

// justify nav
%justify {
 text-align: justify;
 > * {
  display: inline-block;
  vertical-align: top;
  text-align: left;
 }
 &:after {
  content: '';
  width: 100%;
  display: inline-block;
  vertical-align: top;
 }
}



/// * Helper class to truncate and add ellipsis to a string too long for it to fit
/// * on a single line.
/// * 1. Prevent content from wrapping, forcing it on a single line.
/// * 2. Add ellipsis at the end of the line.

.ellipsis {
  white-space: nowrap; /* 1 */
  text-overflow: ellipsis; /* 2 */
  overflow: hidden;
}



// var

$blizzard-blue: rgb(207,241,245); // Blizzard Blue
$blizzard-blue-1: rgb(217,244,248); // Blizzard Blue-1
$blue-dianne: rgb(34,73,88); // Blue Dianne
$blue-lagoon: rgb(0,104,121); // Blue Lagoon
$chateau-green: rgb(55,179,74); // Chateau Green
$elm: rgb(27,104,121); // Elm
$flamingo: rgb(240,90,40); // Flamingo
$iron: rgb(230,231,232); // Iron
$jelly-bean: rgb(45,156,177); // Jelly Bean
$pelorous: rgb(53,176,193); // Pelorous
$port-gore: rgb(38,34,97); // Port Gore
$scooter: rgb(54,182,204); // Scooter
$scooter-1: rgb(57,189,209); // Scooter-1
$tarawera: rgb(9,52,70); // Tarawera
$white: rgb(255,255,255); // White